*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    background: #ddd; 
}
.code-wrapper{
    width: 50%;
    height: 100vh;
    padding: 16px 8px 16px 16px;
    position: fixed;
    left: 0;
}
.code{
    overflow: hidden;
}
.paper{
    width: 50%;
    height: 100vh;
    position: fixed;
    right: 0;
    padding: 16px 16px 16px 8px;
}
.doraemen{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
/* 脑袋 */
.doraemen-head{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -1;
}
.doraemen-head__eye--l,.doraemen-head__eye--r{
    position: absolute;
    top: 6px;
    z-index: 6;
}
.doraemen-head__eye--l{
    right: 49%;
}
.doraemen-head__eye--r{
    left: 49.5%;
}
.doraemen-head__eye--l__eyeball,.doraemen-head__eye--r__eyeball{
    position: absolute;
    top: 30px;
    right: 3px;
}
@keyframes move{
    11%{top:30px;right:3px;}
    22%{top:45px;right:6px}
    33%{top:57px;right:20px;}  
    44%{top:45px;right:32px;}
    55%{top:30px;right:35px;}
    66%{top:45px;right:32px;}  
    77%{top:57px;right:20px;}
    88%{top:45px;right:6px}
    99%{top:30px;right:3px;}
}
.doraemen-head__face{
    position: absolute;
    top: 60px;
    left: 19px; 
    z-index: 1;
}
.doraemen-head__face__nose{
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 3;
}
.doraemen-head__face__nose-light{
    position: absolute;
    right: 10px;
    top: 10px;
}
/* 胡须 */
.doraemen-head__face__mustache--l1, .doraemen-head__face__mustache--l2, .doraemen-head__face__mustache--l3,
.doraemen-head__face__mustache--r1, .doraemen-head__face__mustache--r2, .doraemen-head__face__mustache--r3{
    position: absolute;
    z-index: 5;
}
.doraemen-head__face__mustache--l1{
    top: 50px;
    left: 22px;
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}
.doraemen-head__face__mustache--l2{
    top: 75px;
    left: 20px;
}
.doraemen-head__face__mustache--l3{
    top: 100px;
    left: 22px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
}
.doraemen-head__face__mustache--r1{
    top: 50px;
    right: 22px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
}
.doraemen-head__face__mustache--r2{
    top: 75px;
    right: 20px;
}
.doraemen-head__face__mustache--r3{
    top: 100px;
    right: 22px;
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}
.doraemen-head__face__mustache--c{
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 5;
}
/* 嘴巴 */
.doraemen-head__face__lips--l,.doraemen-head__face__lips--r{
    position: absolute;
    top: 60px;
    z-index: 3;
}
.doraemen-head__face__lips--l{
    left: -15px;
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
}
.doraemen-head__face__lips--r{
    right: -15px;
    transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
}
.doraemen-head__face__lips--c{
    position: absolute;
    top: 118px;
    left: 55px;
    overflow: hidden; 
    z-index: 6;  
}
.doraemen-head__face__lips--c-inner{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.doraemen-head__face__lips--c--l,.doraemen-head__face__lips--c--r{
    position: absolute;
    top: 114px;
    overflow: hidden;
    z-index: 3;
}
.doraemen-head__face__lips--c--l{
    left: 20px;
}
.doraemen-head__face__lips--c--r{
    right: 20px;
}
.doraemen-head__face__lips--c--l-inner,.doraemen-head__face__lips--c--r-inner{
    position: absolute;
    top: -4px;
    z-index: 6;
}
.doraemen-head__face__lips--c--l-inner{
    left: -9px;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}
.doraemen-head__face__lips--c--r-inner{
    right: -10px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
}
.doraemen-head__face__mouse{
    position: absolute;
    bottom: 6px;
    left: 15px;
    overflow: hidden;
}
.doraemen-head__face__mouse-inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 2;
}
.doraemen-head__face__mouse-shade{
    position: absolute;
    top: 114px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 4;
}
/* 舌头 */
.doraemen-head__face__mouse-inner__tongue{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
    bottom: 0;
    z-index: 2;
}
.doraemen-head__face__mouse-inner__tongue--l,.doraemen-head__face__mouse-inner__tongue--r{
    position: absolute;
    bottom: -16px;
    z-index: 10;
}
.doraemen-head__face__mouse-inner__tongue--l{
    left: 50px;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.doraemen-head__face__mouse-inner__tongue--r{
    right: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.doraemen-head__face__mouse-inner__tongue-shade{
    position: absolute;
    bottom: -19px;   
    left: 52px;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 10;
}
/* 身体 */
.doraemen-body{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 310px;
    height: 310px;
}
/* 铃铛 */
.doraemen-body__bell-rope{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.doraemen-body__bell-rope--t, .doraemen-body__bell-rope--b, .doraemen-body__bell-rope--fill{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.doraemen-body__bell-rope--t{
    bottom: 20px;
    z-index: 7;
}
.doraemen-body__bell-rope--b{
    bottom: 0;
}
.doraemen-body__bell-rope--fill{
    bottom: 2px;
}
.doraemen-body__bell{
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.doraemen-body__bell-inner1, .doraemen-body__bell-inner2{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.doraemen-body__bell-inner1{
    top: 10px;
}
.doraemen-body__bell-inner2{
    top: 16px;
}
.doraemen-body__bell__circle{
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.doraemen-body__bell__circle-rope{
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
/* 口袋 */
.doraemen-body__tripe{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -2;
}
.doraemen-body__tripe--fill{
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.doraemen-body__tripe-pocket{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-top: none;
    z-index: 9;
}
.doraemen-body__tripe-pocket--t{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.doraemen-body__tripe-pocket--t-open{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
/* 胳膊 */
.doraemen-body__arm--l, .doraemen-body__arm--r{
    position: absolute;
    top: -10px;
    z-index: -4;
}
.doraemen-body__arm--l{
    transform: rotate(-30deg);
    left: -4px;
}
.doraemen-body__arm--r{
    transform: rotate(30deg);
    right: -4px;
}
/* 手 */
.doraemen-body__hand--l, .doraemen-body__hand--r{
    position: absolute;
    top: 16px;
}
.doraemen-body__hand--l{
    left: -26px;
}
.doraemen-body__hand--r{
    right: -26px;
}
/* 腿 */
.doraemen-body__leg--l, .doraemen-body__leg--r{
    position: absolute;
    top: 140px;
}
.doraemen-body__leg--l{
    right: 56%;
}
.doraemen-body__leg--r{
    left: 56%;
    border-top: none;
    border-left: none;
}
.doraemen-body__crotch{
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
    z-index: 9;
}
.doraemen-body__crotch-inner{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 9;
}
/* 脚 */
.doraemen-body__foot--l, .doraemen-body__foot--r{
    position: absolute;
    top: 184px;
    z-index: -3;
}
.doraemen-body__foot--l{
    right: 53%;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
}
.doraemen-body__foot--r{
    left: 54%;
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
}