*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%); /*谷歌*/
    -moz-transform: translateX(-50%) translateY(-50%); /*火狐*/
    -ms-transform: translateX(-50%) translateY(-50%); /*IE*/
    transform: translateX(-50%) translateY(-50%);
}
.head{
    border: 2px #333 solid;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background: #029EE3;
    position: relative;
    z-index: -1;
}

.eye-left,.eye-right{
    border: 2px #333 solid;
    width: 60px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    z-index: 6;
}
.eye-left{
    right: 49%;
}
.eye-right{
    left: 49.5%;
}
.eyeball-left,.eyeball-right{
    width: 17px;
    height: 17px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 40%;
}
.eyeball-left{
    left: 50%;
}
.eyeball-right{
    right: 50%;
}
.face{
    border: 2px #333 solid;
    height: 230px;
    width: 270px;
    position: absolute;
    top: 60px;
    left: 19px;
    background: #fff;
    border-top-left-radius: 45% 60%;
    border-top-right-radius: 45% 60%;
    border-bottom-left-radius: 60% 85%;
    border-bottom-right-radius: 60% 90%;  
    z-index: 1;
}
.nose{
    border: 2px #333 solid;
    width: 44px;
    height: 44px;
    background: #D80617;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18px;
    z-index: 3;
}
.nose>.nose-light{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}
.lips-left,.lips-right{
    border: 2px #333 solid;
    width: 44px;
    height: 64px;
    position: absolute;
    top: 60px;
    background: #fff;
    z-index: 3;
}
.lips-left{
    left: -15px;
    border-top-left-radius: 75% 50%;
    border-bottom-left-radius: 75% 50%;
    border-right: none;
    transform: rotate(14deg);
}
.lips-right{
    right: -15px;
    border-top-right-radius: 75% 50%;
    border-bottom-right-radius: 75% 50%;
    border-left: none;
    transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
}
.lips-center-left-wrapper,.lips-center-right-wrapper{
    width: 36px;
    height: 20px;
    border: 1px red transparent;
    position: absolute;
    top: 114px;
    overflow: hidden;
    z-index: 3;
}
.lips-center-left-wrapper{
    left: 20px;
}
.lips-center-right-wrapper{
    right: 20px;
}
.lips-center-left,.lips-center-right{
    position: absolute;
    top: -4px;
    border: 2px #333 solid;
    height: 20px;
    width: 65px;
    background: #fff;
    z-index: 6;
}
.lips-center-left{
    left: -9px;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 60%;
}
.lips-center-right{
    right: -10px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 45%;
}
.lips-center-wrapper{
    position: absolute;
    top: 118px;
    left: 55px;
    border: 1px red transparent;
    width: 156px;
    height: 20px;
    overflow: hidden; 
    z-index: 6;  
}
.lips-center{
    border: 2px #333 solid;
    height: 75px;
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-top-left-radius: 65%;
    border-top-right-radius: 65%;
    background: #E80016;
}
.mustache-left1,.mustache-left2,.mustache-left3,
.mustache-right1,.mustache-right2,.mustache-right3{
    width: 80px;
    border: 1px #333 solid;
    position: absolute;
    z-index: 5;
}
.mustache-left1{
    top: 50px;
    left: 22px;
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
}
.mustache-left2{
    top: 75px;
    left: 20px;
}
.mustache-left3{
    top: 100px;
    left: 22px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
}
.mustache-right1{
    top: 50px;
    right: 22px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
}
.mustache-right2{
    top: 75px;
    right: 20px;
}
.mustache-right3{
    top: 100px;
    right: 22px;
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
}
.mustache-center{
    height: 58px;
    width: 2px;
    background: #333;
    z-index: 3;
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 5;
}
.mouse-wrapper{
    width: 240px;
    height: 102px;
    position: absolute;
    bottom: 6px;
    left: 15px;
    border: 2px blue transparent;
    overflow: hidden;
}
.mouse{
    border: 2px #333 solid;
    height: 150px;
    width: 240px;
    background: #E80016;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 0;
    overflow: hidden;
    z-index: 2;
}
.mouse-shade{
    height: 14px;
    width: 156px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    background: #fff; 
    position: absolute;
    top: 114px;
    z-index: 4;
}
.tongue-left,.tongue-right{
    border: 2px solid #333;
    width: 80px;
    height: 60px;
    background: #EF6B1C;
    position: absolute;
    bottom: -16px;
    border-bottom: none;
    z-index: 10;
}
.tongue-left{
    left: 50px;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.tongue-right{
    right: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.tongue-shade{
    width: 80px;
    height: 60px;
    background: #EF6B1C;
    position: absolute;
    bottom: -19px;
    border-bottom: none;
    z-index: 10;
    left: 52px;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.bell-rope-wrapper{
    width: 214px;
    height: 60px;
    border: 1px green transparent;
    position: absolute;
    top: 252px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden;
}
.bell-rope-top,.bell-rope-bottom,.bell-rope-fill{
    width: 420px;
    height: 310px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.bell-rope-top{
    border: 2px #333 solid;
    bottom: 20px;
    z-index: 7;
}
.bell-rope-bottom{
    border: 2px #333 solid;
    bottom: 0;
}
.bell-rope-fill{
    border: 18px #D80617 solid;
    bottom: 2px;
}
.bell{
    border: 2px #333 solid;
    width: 60px;
    height: 60px;
    background: #F4D601;
    border-radius: 50%;
    position: absolute;
    top: 298px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden;
}
.bell-inside-rope-top,.bell-inside-rope-bottom{
    border: 2px #333 solid;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.bell-inside-rope-top{
    top: 10px;
}
.bell-inside-rope-bottom{
    top: 16px;
}
.bell-inside-circle{
    border: 2px solid #333;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 326px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.bell-inside-circle-rope{
    width: 2px;
    height: 20px;
    background: #333;
    position: absolute;
    top: 336px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.body{
    border: 2px #333 solid;
    width: 240px;
    height: 210px;
    background: #029DE2;
    border-top-left-radius: 20% 75%;
    border-top-right-radius: 20% 75%;
    border-bottom-left-radius: 55% 35%;
    border-bottom-right-radius: 55% 35%;
    border-bottom: none;
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: -2;
}
.tripe{
    border: 2px #333 solid;
    width: 180px;
    height: 140px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.tripe-pocket{
    border: 2px #333 solid;
    width: 140px;
    height: 60px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-bottom-left-radius: 45% 70%;
    border-bottom-right-radius: 45% 70%;
    border-top: none;
    z-index: 9;
}
.tripe-pocket-top-wrapper{
    border: 2px red transparent;
    width: 140px;
    height: 14px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden;
}
.tripe-pocket-top{
    border: 2px #333 solid;
    width: 140px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.arm-left,.arm-right{
    border: 2px #333 solid;
    width: 100px;
    height: 50px;
    background: #029EE3;
    border-radius: 30%;
    position: absolute;
    top: 290px;
    z-index: -4;
}
.arm-left{
    transform: rotate(-30deg);
    left: -4px;
}
.arm-right{
    transform: rotate(30deg);
    right: -4px;
}
.hand-left,.hand-right{
    border: 2px #333 solid;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 318px;
}
.hand-left{
    left: -26px;
}
.hand-right{
    right: -26px;
}
.leg-left,.leg-right{
    border: 2px #333 solid;
    background: #029DE2;
    width: 106px;
    height: 50px;
    position: absolute;
    top: 432px;
}
.leg-left{
    right: 56%;
    border-top-left-radius: 15% 60%;
    border-bottom-left-radius: 30% 60%; 
    border-top: none;
    border-right: none;
}
.leg-right{
    left: 56%;
    border-top-right-radius: 15% 60%;
    border-bottom-right-radius: 30% 60%; 
    border-top: none;
    border-left: none;
}
.crotch-wrapper{
    border: 2px transparent;
    width: 38px;
    height: 20px;
    z-index: 9;
    position: absolute;
    top: 462px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    overflow: hidden;
}
.crotch{
    border: 2px #333 solid;
    width: 40px;
    height: 50px; 
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-top-left-radius: 70% 60%;
    border-top-right-radius: 70% 60%;
    z-index: 9;
}
.foot-left,.foot-right{
    border: 2px #333 solid;
    background: #fff;
    width: 126px;
    height: 50px;
    position: absolute;
    top: 476px;
    border-top-left-radius: 60% 60%;
    border-top-right-radius: 50% 80%;
    border-bottom-left-radius: 50% 85%;
    border-bottom-right-radius: 60% 60%;
    z-index: -3;
}
.foot-left{
    right: 53%;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
}
.foot-right{
    left: 54%;
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
}

