*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.wrapper{
    position: fixed;
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%); /*谷歌 safari*/
    transform: translateX(-50%);
}
.head{
    border: 2px #333 solid;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background: #029EE3;
    position: relative;
    z-index: -1;
}
.head .eye-left,.head .eye-right{
    border: 2px #333 solid;
    width: 60px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    z-index: 6;
}
.head .eye-left{
    right: 49%;
}
.head .eye-right{
    left: 49.5%;
}
.head .eyeball-left,.head .eyeball-right{
    width: 17px;
    height: 17px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 3px;
    animation: move 6s ease infinite;
}
@keyframes move {
    11%{top:30px;right:3px;}
    22%{top:45px;right:6px}
    33%{top:57px;right:20px;}  
    44%{top:45px;right:32px;}
    55%{top:30px;right:35px;}
    66%{top:45px;right:32px;}  
    77%{top:57px;right:20px;}
    88%{top:45px;right:6px}
    99%{top:30px;right:3px;}
}
.head .face{
    border: 2px #333 solid;
    height: 230px;
    width: 270px;
    position: absolute;
    top: 60px;
    left: 19px;
    background: #fff;
    border-top-left-radius: 45% 60%;
    border-top-right-radius: 45% 60%;
    border-bottom-left-radius: 60% 85%;
    border-bottom-right-radius: 60% 90%;  
    z-index: 1;
}
.head .nose{
    border: 2px #333 solid;
    width: 44px;
    height: 44px;
    background: #D80617;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18px;
    z-index: 3;
}
.head .nose>.nose-light{
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}
.head .lips-left,.head .lips-right{
    border: 2px #333 solid;
    width: 44px;
    height: 64px;
    position: absolute;
    top: 60px;
    background: #fff;
    z-index: 3;
}
.head .lips-left{
    left: -15px;
    border-top-left-radius: 75% 50%;
    border-bottom-left-radius: 75% 50%;
    border-right: none;
    transform: rotate(14deg);
}
.head .lips-right{
    right: -15px;
    border-top-right-radius: 75% 50%;
    border-bottom-right-radius: 75% 50%;
    border-left: none;
    transform: rotate(-14deg);
    -webkit-transform: rotate(-14deg);
}
.head .lips-center-left-wrapper,.head .lips-center-right-wrapper{
    width: 36px;
    height: 20px;
    border: 1px red transparent;
    position: absolute;
    top: 114px;
    overflow: hidden;
    z-index: 3;
}
.head .lips-center-left-wrapper{
    left: 20px;
}
.head .lips-center-right-wrapper{
    right: 20px;
}
.head .lips-center-left,.lips-center-right{
    position: absolute;
    top: -4px;
    border: 2px #333 solid;
    height: 20px;
    width: 65px;
    background: #fff;
    z-index: 6;
}
.head .lips-center-left{
    left: -9px;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 60%;
}
.head .lips-center-right{
    right: -10px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 45%;
}
.head .lips-center-wrapper{
    position: absolute;
    top: 118px;
    left: 55px;
    border: 1px red transparent;
    width: 156px;
    height: 20px;
    overflow: hidden; 
    z-index: 6;  
}
.head .lips-center{
    border: 2px #333 solid;
    height: 75px;
    width: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-top-left-radius: 65%;
    border-top-right-radius: 65%;
    background: #E80016;
}
.head .mustache-left1,.head .mustache-left2,.head .mustache-left3,
.head .mustache-right1,.head .mustache-right2,.head .mustache-right3{
    width: 80px;
    border: 1px #333 solid;
    position: absolute;
    z-index: 5;
}
.head .mustache-left1{
    top: 50px;
    left: 22px;
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}
.head .mustache-left2{
    top: 75px;
    left: 20px;
}
.head .mustache-left3{
    top: 100px;
    left: 22px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
}
.head .mustache-right1{
    top: 50px;
    right: 22px;
    transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
}
.head .mustache-right2{
    top: 75px;
    right: 20px;
}
.head .mustache-right3{
    top: 100px;
    right: 22px;
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}
.head .mustache-center{
    height: 58px;
    width: 2px;
    background: #333;
    z-index: 3;
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 5;
}
.head .mouse-wrapper{
    width: 240px;
    height: 102px;
    position: absolute;
    bottom: 6px;
    left: 15px;
    border: 2px blue transparent;
    overflow: hidden;
}
.head .mouse{
    border: 2px #333 solid;
    height: 150px;
    width: 240px;
    background: #E80016;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 0;
    z-index: 2;
}
.head .mouse-shade{
    height: 14px;
    width: 156px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: #fff; 
    position: absolute;
    top: 114px;
    z-index: 4;
}
.head .tongue-wrapper{
    border: 2px #333 transparent;
    height: 150px;
    width: 240px;
    background: #E80016;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
    bottom: 0;
    z-index: 2;
}
.head .tongue-left,.head .tongue-right{
    border: 2px solid #333;
    width: 80px;
    height: 60px;
    background: #EF6B1C;
    position: absolute;
    bottom: -16px;
    border-bottom: none;
    z-index: 10;
}
.head .tongue-left{
    left: 50px;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.head .tongue-right{
    right: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.head .tongue-shade{
    width: 80px;
    height: 60px;
    background: #EF6B1C;
    position: absolute;
    bottom: -19px;
    border-bottom: none;
    z-index: 10;
    left: 52px;;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-top-left-radius: 50% 80%;
    border-top-right-radius: 50% 80%;
}
.body{
    border: 1px solid transparent;
    position: relative;
    width: 310px;
    height: 310px;
}
.body .bell-rope-wrapper{
    width: 214px;
    height: 60px;
    border: 1px green transparent;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.body .bell-rope-top, .body .bell-rope-bottom, .body .bell-rope-fill{
    width: 420px;
    height: 310px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.body .bell-rope-top{
    border: 2px #333 solid;
    bottom: 20px;
    z-index: 7;
}
.body .bell-rope-bottom{
    border: 2px #333 solid;
    bottom: 0;
}
.body .bell-rope-fill{
    border: 18px #D80617 solid;
    bottom: 2px;
}
.body .bell{
    border: 2px #333 solid;
    width: 60px;
    height: 60px;
    background: #F4D601;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.body .bell-inside-rope-top, .body .bell-inside-rope-bottom{
    border: 2px #333 solid;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.body .bell-inside-rope-top{
    top: 10px;
}
.body .bell-inside-rope-bottom{
    top: 16px;
}
.body .bell-inside-circle{
    border: 2px solid #333;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.body .bell-inside-circle-rope{
    width: 2px;
    height: 20px;
    background: #333;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.body .tripe-wrapper{
    border: 2px #333 solid;
    width: 240px;
    height: 210px;
    background: #029DE2;
    border-top-left-radius: 20% 75%;
    border-top-right-radius: 20% 75%;
    border-bottom-left-radius: 55% 35%;
    border-bottom-right-radius: 55% 35%;
    border-bottom: none;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: -2;
}
.body .tripe{
    border: 2px #333 solid;
    width: 180px;
    height: 140px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.body .tripe-pocket{
    border: 2px #333 solid;
    width: 140px;
    height: 60px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-bottom-left-radius: 45% 70%;
    border-bottom-right-radius: 45% 70%;
    border-top: none;
    z-index: 9;
}
.body .tripe-pocket-top-wrapper{
    border: 2px red transparent;
    width: 140px;
    height: 14px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.body .tripe-pocket-top{
    border: 2px #333 solid;
    width: 140px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.body .arm-left, .body .arm-right{
    border: 2px #333 solid;
    width: 100px;
    height: 50px;
    background: #029EE3;
    border-radius: 30%;
    position: absolute;
    top: -10px;
    z-index: -4;
}
.body .arm-left{
    transform: rotate(-30deg);
    left: -4px;
}
.body .arm-right{
    transform: rotate(30deg);
    right: -4px;
}
.body .hand-left, .body .hand-right{
    border: 2px #333 solid;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 16px;
}
.body .hand-left{
    left: -26px;
}
.body .hand-right{
    right: -26px;
}
.body .leg-left, .body .leg-right{
    border: 2px #333 solid;
    background: #029DE2;
    width: 106px;
    height: 50px;
    position: absolute;
    top: 140px;
}
.body .leg-left{
    right: 56%;
    border-top-left-radius: 15% 60%;
    border-bottom-left-radius: 30% 60%; 
    border-top: none;
    border-right: none;
}
.body .leg-right{
    left: 56%;
    border-top-right-radius: 15% 60%;
    border-bottom-right-radius: 30% 60%; 
    border-top: none;
    border-left: none;
}
.body .crotch-wrapper{
    border: 2px transparent;
    width: 38px;
    height: 20px;
    z-index: 9;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    overflow: hidden;
}
.body .crotch{
    border: 2px #333 solid;
    width: 40px;
    height: 50px; 
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-top-left-radius: 70% 60%;
    border-top-right-radius: 70% 60%;
    z-index: 9;
}
.body .foot-left, .body .foot-right{
    border: 2px #333 solid;
    background: #fff;
    width: 126px;
    height: 50px;
    position: absolute;
    top: 184px;
    border-top-left-radius: 60% 60%;
    border-top-right-radius: 50% 80%;
    border-bottom-left-radius: 50% 85%;
    border-bottom-right-radius: 60% 60%;
    z-index: -3;
}
.body .foot-left{
    right: 53%;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
}
.body .foot-right{
    left: 54%;
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
}

